@model newtest.Models.sitelistmodel.sitelist_model

@{ Layout = "~/Views/Shared/_Layout.cshtml"; }

@{
    ViewBag.Title = "Notification";
}


<style>
    #userform .chosen-container { width: 790px !important; }

</style>

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Site and User Configuration</h2>
        <ol class="breadcrumb">
            <li>
                <a href="@Url.Action("Dashboards", "Dashboards")">Home</a>
            </li>

            <li class="active">
                <strong>User and Site Settings</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">

    </div>
</div>
<div class="wrapper wrapper-content animated fadeInLeft">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="tabs-container">
                    <ul class="nav nav-tabs">
                        <li class="active"><a data-toggle="tab" href="#tab-1">Add Site</a></li>
                        <li class=""><a data-toggle="tab" href="#tab-2">Add Serial</a></li>
                        <li class=""><a data-toggle="tab" href="#tab-3">Add User</a></li>
                    </ul>
                    <div class="tab-content">
                        <div id="tab-1" class="tab-pane active">

                            <div class="panel-body">
                                <div class="ibox-title" style="border-style: none;">
                                    <h5>Create new Site</h5>
                                    <div class="ibox-tools">
                                        <a class="collapse-link">
                                            <i class="fa fa-chevron-up"></i>
                                        </a>
                                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                            <i class="fa fa-wrench"></i>
                                        </a>
                                        <ul class="dropdown-menu dropdown-user">
                                            <li>
                                                <a href="#">Config option 1</a>
                                            </li>
                                            <li>
                                                <a href="#">Config option 2</a>
                                            </li>
                                        </ul>
                                        <a class="close-link">
                                            <i class="fa fa-times"></i>
                                        </a>
                                    </div>
                                </div>
                                <div class="ibox-content">
                                    <form id="form">
                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label for="sitetitle">Site name</label>
                                                    <input id="sitetitle" type="text" class="form-control" placeholder="Enter a new Site name ..." name="sitename"/>
                                                </div>

                                            </div>
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <label for="message">Serial Number </label>
                                                    <select class="chosen-select  form-control" name="serial">
                                                        @for (var i = 0; i < Model.serialid.Count; i++)
                                                        {
                                                          <option value="@Html.ValueFor(x => Model.serialid[i])">@Html.DisplayFor(x => Model.serialnumber[i])</option>
                                                        }
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <label for="message">Time Zone</label>
                                                    <select data-placeholder="Choose a Site..." class="chosen-select  form-control" name="tmzone">
                                                        <option value="Afghanistan Standard Time">Afghanistan Standard Time</option>

                                                        <option value="Alaskan Standard Time">Alaskan Standard Time</option>

                                                        <option value="Alaskan Standard Time">Afghanistan Standard Time</option>

                                                        <option value="Arab Standard Time">Arab Standard Time</option>

                                                        <option value="Arabian Standard Time">Arabian Standard Time</option>

                                                        <option value="Arabic Standard Time">Arabic Standard Time</option>

                                                        <option value="Argentina Standard Time">Argentina Standard Time</option>

                                                        <option value="Atlantic Standard Time">Atlantic Standard Time</option>

                                                        <option value="AUS Central Standard Time">AUS Central Standard Time</option>

                                                        <option selected value="AUS Eastern Standard Time">AUS Eastern Standard Time</option>

                                                        <option value="Cen. Australia Standard Time">Cen. Australia Standard Time</option>

                                                        <option value="Central America Standard Time">Central America Standard Time</option>

                                                        <option value="Central Asia Standard Time">Central Asia Standard Time</option>

                                                        <option value="Central Brazilian Standard Time">Central Brazilian Standard Time</option>

                                                        <option value="Central Europe Standard Time">Central Europe Standard Time</option>

                                                        <option value="Central European Standard Time">Central European Standard Time</option>

                                                        <option value="Central Pacific Standard Time">Central Pacific Standard Time</option>

                                                        <option value="Israel Standard Time">Israel Standard Time</option>

                                                        <option value="W. Australia Standard Time">W. Australia Standard Time</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-lg-12">
                                                <button type="submit" class="ladda-button btn btn-danger" data-style="expand-right" id="sitebtn">Confirm</button>
                                            </div>
                                        </div>
                                   </form>

                                </div>
                            </div>
                        </div>
                        <div id="tab-2" class="tab-pane">
                            <div class="panel-body">
                                <div class="ibox-title" style="border-style: none;">
                                    <h5>Create new Serial</h5>
                                    <div class="ibox-tools">
                                        <a class="collapse-link">
                                            <i class="fa fa-chevron-up"></i>
                                        </a>
                                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                            <i class="fa fa-wrench"></i>
                                        </a>
                                        <ul class="dropdown-menu dropdown-user">
                                            <li>
                                                <a href="#">Config option 1</a>
                                            </li>
                                            <li>
                                                <a href="#">Config option 2</a>
                                            </li>
                                        </ul>
                                        <a class="close-link">
                                            <i class="fa fa-times"></i>
                                        </a>
                                    </div>
                                </div>
                                <div class="ibox-content">
                                    <form id="serialform">
                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label for="title">Terminal Serial</label>
                                                    <div class="input-group">
                                                        <input id="serialtitle" type="text" class="form-control" placeholder="Enter a new Serial..." name="serial"/>
                                                        
                                                        <div class="input-group-btn" style="padding-left:20px;">
                                                            <button class="btn btn-facebook" type="button" id="autogen">Auto Generate</button>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>

                                        </div>

                                        <div class="row">
                                            <div class="col-lg-12">
                                                <button type="submit" class="ladda-button btn btn-danger" data-style="expand-right" id="serialbtn">Confirm</button>
                                            </div>
                                        </div>
                                   </form>

                                </div>
                            </div>
                        </div>
                        <div id="tab-3" class="tab-pane">
                            <div class="panel-body">
                                <div class="ibox-title" style="border-style: none;">
                                    <h5>Create new User</h5>
                                    <div class="ibox-tools">
                                        <a class="collapse-link">
                                            <i class="fa fa-chevron-up"></i>
                                        </a>
                                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                            <i class="fa fa-wrench"></i>
                                        </a>
                                        <ul class="dropdown-menu dropdown-user">
                                            <li>
                                                <a href="#">Config option 1</a>
                                            </li>
                                            <li>
                                                <a href="#">Config option 2</a>
                                            </li>
                                        </ul>
                                        <a class="close-link">
                                            <i class="fa fa-times"></i>
                                        </a>
                                    </div>
                                </div>
                                <div class="ibox-content">
                                    <form id="userform">
                                        <div class="row">


                                            <div class="col-md-7">

                                                <div class="form-group">
                                                    <label for="title">User name</label>
                                                    <input id="nameofuser" type="text" class="form-control" name="username" placeholder="Enter a new Username ..." />
                                                </div>

                                                <div class="form-group">
                                                    <label for="title">Password</label>
                                                    <input id="userpass" type="text" class="form-control" name="password" placeholder="Enter a new Password ..." />
                                                </div>

                                                <div class="form-group">
                                                    <label for="title">Select Site</label>
                                                    <div class="input-group">
                                                        <select id="selectuser" data-placeholder="Choose a Serial..." class="chosen-select" multiple tabindex="4" name="options">
                                                            @for (var i = 0; i < Model.sites.Count; i++)
                                                            {
                                                                <option value="@Html.ValueFor(x => Model.site_id[i])">@Html.DisplayFor(x => Model.sites[i])</option>
                                                            }
                                                        </select>
                                                    </div>
                                                </div>

                                            </div>

                                        </div>

                                        <div class="row">
                                            <div class="col-lg-12">
                                                <button type="submit" class="ladda-button btn btn-danger" data-style="expand-right" id="userbtn">Confirm</button>
                                            </div>
                                        </div>

                                    </form>

                                </div>
                            </div>
                        </div>


                    </div>
                </div>
            </div>
        </div>
    </div>

       
  

    <div id="serialload" class="row partialContent" data-url="/siteaccount/serial" style="display:none">
        <div class="spiner-example" id="serialspinner">
            <div class="sk-spinner sk-spinner-double-bounce">
                <div class="sk-double-bounce1"></div>
                <div class="sk-double-bounce2"></div>
            </div>
        </div>
    </div>
     

    <div id="siteload" class="row partialContent" data-url="/siteaccount/site">
            <div class="spiner-example" id="sitespinner">
                <div class="sk-spinner sk-spinner-double-bounce">
                    <div class="sk-double-bounce1"></div>
                    <div class="sk-double-bounce2"></div>
                </div>
            </div>
    </div>

       
    <div id="userload" class="row partialContent" data-url="/siteaccount/user" style="display:none">
        <div class="spiner-example" id="Userspinner">
            <div class="sk-spinner sk-spinner-double-bounce">
                <div class="sk-double-bounce1"></div>
                <div class="sk-double-bounce2"></div>
            </div>
        </div>
    </div>

</div>





@section Styles {
    @Styles.Render("~/plugins/toastrStyles")

    <!--This is for the loading button script-->
    @Styles.Render("~/plugins/laddaStyles")

    <!-- This is for the Search bar-->
    @Styles.Render("~/Content/plugins/chosen/chosenStyles")

    <!--For the table-->
    @Styles.Render("~/Content/plugins/dataTables/dataTablesStyles")



}

@section Scripts {

    <!--For this loading button script-->
    @Scripts.Render("~/plugins/ladda")

    @Scripts.Render("~/plugins/toastr")

    @Scripts.Render("~/plugins/chosen")

    @Scripts.Render("~/plugins/jeditable")
    @Scripts.Render("~/plugins/dataTables")

    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/plugins/validate")

    <script type="text/javascript">
    $(document).ready(function (e) {

        var site = site || {};
        site.baseUrl = site.baseUrl || "";

        $(".partialContent").each(function (index, item) {
            var url = site.baseUrl + $(item).data("url");
            if (url && url.length > 0) {
                $(item).load(url);
            }
        });

    });


</script>

    <script type="text/javascript">
        $(document).ready(function () {

        
          
         

            var config = {
                '.chosen-select': {},
                '.chosen-select-deselect': { allow_single_deselect: true },
                '.chosen-select-no-single': { disable_search_threshold: 10 },
                '.chosen-select-no-results': { no_results_text: 'Oops, nothing found!' },
                '.chosen-select-width': { width: "95%" },
            }
            for (var selector in config) {
                $(selector).chosen(config[selector]);
            }



            /* Init DataTables */
            var oTable = $('#editable').dataTable();

            /* Apply the jEditable handlers to the table */
            oTable.$('td').editable('../example_ajax.php', {
                "callback": function (sValue, y) {
                    var aPos = oTable.fnGetPosition(this);
                    oTable.fnUpdate(sValue, aPos[0], aPos[1]);
                },
                "submitdata": function (value, settings) {
                    return {
                        "row_id": this.parentNode.getAttribute('id'),
                        "column": oTable.fnGetPosition(this)[2]
                    };
                },

                "width": "90%",
                "height": "100%"
            });


        });


        function fnClickAddRow() {
            $('#editable').dataTable().fnAddData([
                "Custom row",
                "New row",
                "New row",
                "New row",
                "New row"]);

        }

        $("#form").validate({
            rules: {
                sitename: {
                    required: true,
                    minlength: 3
                }
            },

            submitHandler: function (form) {

                // Bind normal buttons
                var l = $('.ladda-button').ladda();
                l.ladda('start');

                var url = '@Url.Action("site", "siteaccount")'


                $("#siteload").load(url, $("#form").serialize(), function (responseText, textStatus, XMLHttpRequest) {

                    if (textStatus == "success") {
                        $('#sitebtn').show(function () {
                            // Display a success toast, with a title
                            toastr.success('Your new Site has being confirmed', 'Saved !')
                        });

                        l.ladda('stop');
                        $('#sitetitle').val("");
                    }
                    if (textStatus == "error") {
                        alert(textStatus);
                        alert(responseText);
                        alert(XMLHttpRequest);
                    }




                });
            },

        });

        $("#serialform").validate({
            rules: {
                serial: {
                    required: true,
                    minlength: 6,
                    maxlength: 6
                }
            },

            submitHandler: function (form) {

                // Bind normal buttons
                var l = $('.ladda-button').ladda();
                l.ladda('start');

                var url = '@Url.Action("serial", "siteaccount")'


                $("#serialload").load(url, $("#serialform").serialize(), function (responseText, textStatus, XMLHttpRequest) {

                    if (textStatus == "success") {
                        $('#serialbtn').show(function () {
                            // Display a success toast, with a title
                            toastr.success('Your new Serial has being confirmed', 'Saved !')
                        });

                        l.ladda('stop');
                        $('#serialtitle').val("");
                    }
                    if (textStatus == "error") {
                        alert(textStatus);
                        alert(responseText);
                        alert(XMLHttpRequest);
                    }

                });
            },

        });


        // Form submit for the Users
        $("#userform").validate({
            rules: {
                password: {
                    required: true
                },
                username: {
                    required: true
                }
            },

            submitHandler: function (form) {

                // Bind normal buttons
                var l = $('.ladda-button').ladda();
                l.ladda('start');

                var url = '@Url.Action("user", "siteaccount")'


                $("#userload").load(url, $("#userform").serialize(), function (responseText, textStatus, XMLHttpRequest) {

                    // if the request is successful
                    if (textStatus == "success") {
                        // Show notification
                        $('#userbtn').show(function () {
                            // Display a success toast, with a title
                            toastr.success('Your new User has being confirmed', 'Saved !')
                        });

                        l.ladda('stop');
                        $('#userpass').val("");
                        $('#nameofuser').val("");
                    }
                    if (textStatus == "error") {
                        alert("Please Refresh Page and Try again, an Error has occured !")
                    }

                });
            },

        });







        $('#autogen').click(function () {
            var possible = "ABCDEFGHIJKLMNOPQRSTUVWXYZ0123456789";
            var text = "";

            for (var i = 0; i < 6; i++){
                text += possible.charAt(Math.floor(Math.random() * possible.length));
               }
            $('#serialtitle').val(text);
            
        });

        

        $('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
            var target = $(e.target).attr("href") // activated tab


            if (target == "#tab-3") {

                

                $("#userload").fadeIn("slow", function () {
                });

                $("#serialload").fadeOut("slow", function () {
                });

                $("#siteload").fadeOut("slow", function () {
                });

            }

            if (target == "#tab-2") {
                $("#serialload").fadeIn("slow", function () {
                });

                $("#userload").fadeOut("slow", function () {
                });

                $("#siteload").fadeOut("slow", function () {
                });

            }

            if (target == "#tab-1") {
                $("#serialload").fadeOut("slow", function () {
                });

                $("#userload").fadeOut("slow", function () {
                });

                $("#siteload").fadeIn("slow", function () {
                });

            }

        });





    </script>
}


